<br><br>
<div style="text-align: center; color: azure; background-color: black;">
    Made with ❤️ By <a href="//github.com" target="_blank">Mr.cl0wn</a>
    <!-- An Open Source Project -->
</div>

<br><br>
